@charset "utf-8";
/* CSS Document */

/*index*/ 

body {
    background-size: cover;
    font-family: quicksand, sans-serif;
    background-color: #ccffff; 
}

h1, h2, h3 {
    margin: 0;
}

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    background-color: #FFCC99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.content {
    padding: 0;
}


.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;  
}

.nav li {
    margin-right: 15px;  
    position: relative; 
}

.nav a {
    display: inline-block;  
    padding: 6px 12px;      
    text-decoration: none;  
    color: #66FFFF;         
    background-color: #273B93; 
    border: none;           
    border-radius: 5px;     
    transition: all 0.3s ease; 
}

.nav a:hover {
    background-color: #FF6600; 
    color: #66FFFF;             
}

.nav ul li a.cart-button {
    background-color: #273B93; 
    padding: 10px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nav ul li a.cart-button .cart-icon {
    width: auto; 
    height: auto;
    fill: #66FFFF; 
}

.nav ul li a.cart-button .cart-icon {
    width: 12px; 
    height: 12px;
}

.nav ul li a.cart-button:hover {
    background-color: #FF6600; 
}

/* DROPDOWN */
.nav li ul {
    display: none;              
    position: absolute;         
    background-color: #273B93; 
    padding: 8px 0;
    list-style: none;
    border: none;             
    border-radius: 5px;       
    z-index: 2;                 
    top: 100%;                  
}

.nav li:hover > ul {
    display: block;             
}

.nav li ul li {
    margin-bottom: 8px;      
}

.nav li ul li a {
    border: none;             
    background-color: #273B93; 
    color: #66FFFF;           
    padding: 6px 10px;       
    display: block;           
    border-radius: 3px;       
    font-size: 8px;
}

.nav li ul li a:hover {
    background-color: #FF6600; 
    color: white;             
}

/* picture of child */
.image-wrapper {
    position: relative;
    width: 100%;
    display: inline-block;  
}


.overlay-text {
    position: absolute;
    top: 10px; 
    right: 150px; 
    color: #F6921E;  
    font-family: 'Quicksand';
    font-size: 60px; 
    font-weight: bold;
    text-align: right;  
    z-index: 1;  /* Make sure text is below the dropdown */
    padding: 20px;  
    line-height: 2.5; 
}


.overlay-text p {
    margin: 5px 0;
}

.products-button {
    position: absolute; 
    top: 550px; 
    left: 100px; 
    padding: 10px 20px;
    background-color: #273B93; 
    color: #66FFFF; 
    border: 2px solid #66FFFF; 
    border-radius: 5px;
    text-decoration: none; 
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}


.products-button:hover {
    background-color: #F6921E; 
    border-color: #F6921E;
}




/* FOOTER */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer {
    background-color: #FFCC99; 
    padding: 20px 0;
    font-family: 'Quicksand', sans-serif; 
}

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-size-adjust: auto;
  font-weight: <weight>;
  font-style: normal;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    padding: 0 20px;
}

/* Address */
.footer-left {
    flex: 1;
    text-align: left;
    font-size: 14px;
    color: #273B93;
}

.footer-left p {
    margin-bottom: 8px;
}

/* logo */
.footer-center {
    flex: 2;
    text-align: center;
}

.footer-logo {
    max-width: 50px; 
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}


.footer-text {
    margin: 4px 0;
    font-size: 12px;
    color: #273B93;
}


/* Socials */
.footer-right {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px; 
}

.footer-right svg {
    width: 40px; 
    height: 40px; 
    margin-left: 8px; 
    transition: transform 0.3s ease, fill 0.3s ease; 
}

.footer-right svg:hover {
    transform: scale(1.1); 
}

.footer-right svg path {
    fill: #273b93; 
    transition: fill 0.3s ease; 
}

.footer-right svg:hover path {
    fill: #FF6600; 
}



/*ABOUT*/


/*body*/

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CCFFFF;
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 100px;
}


.header-section {
    text-align: left;  
    padding: 20px;
    font-size: 20px;
    color: #273B93;
}


.middle-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 40px;
}


.square {
    background-color: #CCFFFF;
    padding: 20px;    
}


.header-box {
    background-color: #66FFFF;
    color: #273B93;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 15px;
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    position: relative; 
    border-radius: 8px;
    overflow: visible; 
}


.header-text {
    flex: 1; 
    text-align: left; 
    z-index: 1; 
}


.header-image {
    position: absolute;  
    top: 50%;  
    right: 10px; 
    transform: translateY(-50%);  
    width: 200px;  
    height: auto;
    z-index: 0; 
}


.content {
    list-style-type: none;
    padding: 0;
}

.content li {
    margin-bottom: 10px;
    font-size: 20px;
    color: #273B93;
    padding-left: 20px;
    line-height: 40px;
}

   

/* PRODUCTS */

       
    /*style for boxes*/
        
        .intro-text {
            font-family: 'Quicksand', sans-serif;
            color: #273B93;
            text-align: center;
            margin-top: 30px;
            font-size: 18px;
        }

    
        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            max-width: 900px;
            margin: 30px auto;
            padding: 30px;
            align-content: center;
        }

       
        .box {
            background-color: #66FFFF;
            border-radius: 15px; 
            height: 200px; 
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        }
 
    
/* blue boxes */
.box {
    background-color: #66FFFF; 
    border-radius: 15px; 
    height: 200px; 
    width: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    margin: 15px; 
}

.box-image {
    max-width: 170%;  
    max-height: 170%; 
    object-fit: contain; 
    
}

.box:hover .box-image {
    max-width: 185%; 
    max-height: 185%; 
}

.text-content {
    justify-content: center;
    text-align: center;
    color: #273B93;  
    margin-top: 10px;
}

.flavor {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    margin-right: 5px;
}

.description {
    text-align: center;
    font-size: 14px;
}

.input-container {
    display: flex;
    align-items: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-container input {
    width: 40px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 20px;
    font-size: 14px;
    border: 2px solid #273B93; 
    border-radius: 4px;        
    outline: none;            
}

.input-container input:focus {
    border-color: #1a2e6b; 
}

.input-container button {
    padding: 6px 12px;
    background-color: #273B93;
    color: #66FFFF;
    border: 2px solid #273B93; 
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    border-radius: 4px;
    outline: none; 
}

.input-container button:hover {
    background-color: #1a2e6b;
}

.input-container button:focus {
    border-color: #1a2e6b; 
}




/*  CONTACT  */


